<section id="realisations" class="project-area pt-125 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-50">
          <h5 class="sub-title mb-15">Nos projets</h5>
          <h2 class="title">Projects You May Love</h2>
        </div>
      </div>
    </div>
  </div>

 <div class="circleContainer">
    <div class="circle"> <span>100</span></div>
    <div class="circle"><span>20000</span></div>
    <div class="circle"><span>3333</span></div>
    <div class="circle"><span>33</span></div>

 </div>

  <!-- <div class="container-fluid">
    <div class="row project-active">
      <div class="col-lg-6">
        <div class="single-project">
          <div class="project-image">
            <img src="assets/images/project/p-4.jpg" alt="Project" />
          </div>
          <div class="project-content">
            <a class="project-title" href="#">Home Interior Design</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="single-project">
          <div class="project-image">
            <img src="assets/images/project/p-4.jpg" alt="Project" />
          </div>
          <div class="project-content">
            <a class="project-title" href="#">Home Interior Design</a>
          </div>
        </div>
      </div>

      <div class="cont">
        <svg class="progress-ring" width="120" height="120">
          <circle
            class="progress-ring__circle"
            stroke="black"
            stroke-width="4"
            fill="transparent"
            r="52"
            cx="60"
            cy="60"
          />
        </svg>
      </div>
      
    </div>
  </div> -->
</section>
