
<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area">
  <div class="footer-widget pt-80 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-8">
          <div class="footer-logo mt-50">
            <a href="#">
              <img src="assets/images/logo_smart.png" alt="Logo" />
            </a>
            <ul class="footer-info">
              <li>
                <div class="single-info">
                  <div class="info-icon">
                    <i class="lni-phone-handset"></i>
                  </div>
                  <div class="info-content">
                    <p>+212 5223-32366</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="single-info">
                  <div class="info-icon">
                    <i class="lni-envelope"></i>
                  </div>
                  <div class="info-content">
                    <p>n.boualem@fondationzakoura.org</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="single-info">
                  <div class="info-icon">
                    <i class="lni-map"></i>
                  </div>
                  <div class="info-content">
                    <p>Km 17 28630 Ain Harrouda,Casablanca</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="footer-social mt-20">
              <li>
                <a href="https://www.facebook.com/SmartInitiatives.AinHarrouda"
                  ><i class="lni-facebook-filled"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="#"><i class="lni-google"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/smartinitiatives/?hl=fr"
                  ><i class="lni-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="footer-link mt-45">
            <div class="f-title">
              <h4 class="title">Menu</h4>
            </div>
            <ul class="mt-15">
              <li><a  style="cursor: pointer;" routerLink="." fragment="about">A propos</a></li>
              <li><a  style="cursor: pointer;" routerLink="." fragment="activities">Nos activités</a></li>
              <li><a  style="cursor: pointer;" routerLink="." fragment="projects" >Nos projets</a></li>
              <!-- <li><a style="cursor: pointer;" routerLink="artisans" >Nos artisans</a></li> -->
              <li><a style="cursor: pointer;" routerLink="." fragment="contact">Nous contactez</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="footer-link mt-45">
            <div class="f-title">
              <h4 class="title">Liens utiles</h4>
            </div>
            <ul class="mt-15">
              <li><a routerLink="artisan">Nos artisans</a></li>
              <!-- <li><a routerLink="events">Nos événements</a></li> -->
              <!-- <li><a href="#">Nos Partenaires</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-8">
          <div class="footer-newsleter mt-45">
            <div class="f-title">
              <h4 class="title">Newsleter</h4>
            </div>
            <p class="mt-15">
                Insrivez-vous à notre newsletter ! 
            </p>
            <form action="#">
              <div class="newsleter mt-20">
                <input type="email" placeholder="info@contact.com" />
                <button><i class="lni-angle-double-right"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center">
            <p>
              &copy; Tous les droits sont réservés.
              <a href="#" rel="nofollow">GITLAB TEAM</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TO TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

<!--====== BACK TO TOP PART ENDS ======-->
