<section class="resume py-5 d-lg-flex" id="resume">
    <div class="d-flex align-items-stretch">
        <div id="sidebar" class="sidebar py-3">
            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Adminstrateur</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item"><a (click)="updateSelectedComponent('artisans')" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray bi-card-list"></i><span>Artisans</span></a></li>
                <li class="sidebar-list-item"><a (click)="updateSelectedComponent('events')" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray bi-card-list"></i><span>Events</span></a></li>
                <li class="sidebar-list-item"><a (click)="updateSelectedComponent('projects')" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray bi-card-list"></i><span>Projets</span></a></li>
                <li class="sidebar-list-item"><a class="sidebar-link text-muted disabled"><i class="o-sales-up-1 mr-3 text-gray bi-card-list"></i><span>Activités</span></a></li>
                <li class="sidebar-list-item"><a class="sidebar-link text-muted disabled"><i class="o-survey-1 mr-3 text-gray bi-card-list"></i><span>Réalisations</span></a></li>
                <li class="sidebar-list-item"><a class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray bi-arrow-bar-left"></i><span>Se déconnecter</span></a></li>
            </ul>
        </div>
    </div>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="col-lg-12 mb-4">
            <app-admin-projects *ngIf="selectedComponent==='projects'"></app-admin-projects>
            <app-admin-events *ngIf="selectedComponent==='events'"></app-admin-events>
            <app-admin-artisants *ngIf="selectedComponent==='artisans'"></app-admin-artisants>
        </div>
    </div>
</section>