<section
  class="resume py-5 d-lg-flex justify-content-center align-items-center"
  id="resume"
>
  <div class="container">
    <div class="row justify-content-center" style="margin-bottom: 4%;">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h5 class="sub-title mb-15">Nos Projets</h5>
          <h2 class="title">CE QUE NOUS FAISONS</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Employabilité</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>1</span>
              </div>
              <div class="timeline-info">
                <h3><span>Programme MAHARATE</span></h3>
                <p>
                  est un programme de renforcement des capacités transverses
                  visant à appuyer l’insertion des jeunes diplômés dans le
                  marché du travail.
                </p>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2</span>
              </div>
              <div class="timeline-info">
                <h3><span>Programme MOUAKABA</span></h3>
                <p>
                  est un dispositif d’accompagnement des jeunes diplômés visant
                  à renforcer le dispositif de prospection et d’identification
                  des opportunités professionnelle.
                </p>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>3</span>
              </div>
              <div class="timeline-info">
                <h3><span> Journée porte ouverte</span></h3>
                <p>
                  Les journées de l’emploi consistent à regrouper des acteurs
                  économiques en quête des profils afin d’initier des
                  opportunités d’échanges avec les candidats.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Entreprenariat -->
        <div class="col-lg-6 col-12">
          <h2 class="mb-4 mobile-mt-2">Entreprenariat</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>4</span>
              </div>
              <div class="timeline-info">
                <h3>
                  <span>Programme MOUKAOUALA</span>
                </h3>
                <p>
                  est un dispositif d’ancrage de l’esprit entrepreneurial à
                  travers l’appropriation d’un métier porteur, et
                  l’accompagnement par la constitution d’une coopérative ou des
                  AGR par les différents bénéficiaires.
                </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>5</span>
              </div>
              <div class="timeline-info">
                <h3>
                  <span>Parcours TASWIQ</span>
                </h3>
                <p>
                  est un dispositif de renforcement des capacités et
                  d’accompagnement sur les aspects liés à la commercialisation.
                </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>6</span>
              </div>
              <div class="timeline-info">
                <h3><span>Marché solidaire</span></h3>
                <p>
                  est un dispositif d’appui à la commercialisation des produits
                  locaux au profit des entrepreneurs locaux (AGR & Coopératives)
                  à travers des expositions éphémères.
                </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>7</span>
              </div>
              <div class="timeline-info">
                <h3><span>Initiatives citoyennes</span></h3>
                <p>
                  est une action de synergies entre les collaborateurs de SMT,
                  et les porteurs d’idées citoyennes au sein de la commune de
                  Ain Harrouda.
                </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>8</span>
              </div>
              <div class="timeline-info">
                <h3><span>Parcours Ambassadeur</span></h3>
                <p>
                  est un relais de l’incubateur auprès de la population locale.
                  Son rôle consiste à véhiculer d’une manière objective et
                  positive les différentes informations relatives à l’offre de
                  service de d’incubateur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
