// @import '../../assets/scss/central.scss';
.main-btn:hover {
    background-color: #f3a24a;
    color: #f3a24a;
    border-color: #f3a24a; 
}

.main-btn:active {
    background-color: #fff;
    color: #f3a24a;
    border-color: #f3a24a; 
    transition: background 0s;
}