<header id="home" class="header-area pt-100">
    <div class="shape header-shape-one">
        <img src="assets/images/banner/shape/shape-1.png" alt="shape">
    </div>

    <div class="shape header-shape-tow animation-one">
        <img src="assets/images/banner/shape/shape-2.png" alt="shape">
    </div>

    <div class="shape header-shape-three animation-one">
        <img src="assets/images/banner/shape/shape-3.png" alt="shape">
    </div>

    <div class="shape header-shape-fore">
        <img src="assets/images/banner/shape/shape-4.png" alt="shape">
    </div>

    <div *ngIf="notAdminPages" class="navigation-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand">
                            <img src="assets/images/logo_smart.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a style="cursor: pointer;" [routerLink]="['.']" fragment="about" (click)="onClickAnchor()">Qui somme nous ?</a>
                                </li>
                                <li class="nav-item">
                                    <a style="cursor: pointer;" [routerLink]="['.']" fragment="activities" (click)="onClickAnchor()">Nos activités</a>
                                </li>
                                <li class="nav-item">
                                    <a style="cursor: pointer;" [routerLink]="['.']" fragment="projects" (click)="onClickAnchor()">Nos projets</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a style="cursor: pointer;" routerLink="artisan"  routerLinkActive="active">Nos artisans</a>
                                </li> -->
                                <li class="nav-item">
                                    <a style="cursor: pointer;" [routerLink]="['.']" fragment="contact" (click)="onClickAnchor()">Nous contactez</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-btn ml-20 d-none d-sm-block">
                            <a class="main-btn" (click)="copyNumber('+212 5223-32366')">
                                <i class="lni-phone"></i> +212 5223-32366</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>