<header id="home" class="header-area pt-50">
    <!-- <div class="shape header-shape-one">
        <img src="assets/images/banner/shape/shape-1.png" alt="shape">
    </div> -->
    <!-- 
    <div class="shape header-shape-tow animation-one">
        <img src="assets/images/banner/shape/shape-2.png" alt="shape">
    </div>

    <div class="shape header-shape-three animation-one">
        <img src="assets/images/banner/shape/shape-3.png" alt="shape">
    </div> -->

    <div class="shape header-shape-fore">
        <img src="assets/images/banner/shape/shape-4.png" alt="shape">
    </div>



    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand">
                        <img src="assets/images/logo_smart.png" alt="Logo">
                    </a>
                </nav>
            </div>
        </div>
    </div>

</header>

<div class="container mt-80">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar navbar-nav">
            <!-- <li><button class="btn btn-sm btn-outline-dark ml-2" (click)='switchToArtisan()'>Artisans</button></li> -->
            <!-- <li><button class="btn btn-sm btn-outline-dark ml-2">Events</button></li> -->
            <button class="btn btn-sm btn-dark ml-2" (click)="add()">
                <span class="fas fa-plus"> Nouveau </span>

            </button>
        </ul>
        <ul class="navbar navbar-nav ml-auto">
            <li>
                <div class="form-group form-inline">
                    <input type="text" placeholder="keyword" [(ngModel)]="keyword" class="form-control">
                </div>
            </li>
        </ul>
    </nav>
</div>
<div class="row center-elems">
    <mat-paginator [length]="paginatorLength" [pageSize]="pageSize" (page)="onPageChanged($event)">
    </mat-paginator>
</div>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="tabChanged($event)"
    [selectedIndex]="tabSelectedIndex">
    <!-- Artisan Tab -->
    <mat-tab label="Artisans">
        <ng-template matTabContent>
            <div class="container">
                <!-- *ngIf="isArtisan" -->
                <table class="table">
                    <tr>
                        <th>Nom et Prénom</th>
                        <th>Metier</th>
                        <th>Description</th>
                        <th>Membre</th>
                        <!-- <th>Siteweb</th> -->
                        <!-- <th>Facebook</th> -->
                        <th class="text-center">Image</th>
                        <th class="text-center" width="1%">Actions</th>
                    </tr>
                    <tr *ngFor="let artisan of activeArtisans | filter : keyword">
                        <td>{{artisan.last_name}} {{artisan.first_name}}</td>
                        <td>{{artisan.title}}</td>
                        <td>{{artisan.description}}</td>
                        <td>{{artisan.membership}}</td>
                        <!-- <td>{{artisan.website}}</td> -->
                        <!-- <td>{{artisan.facebook}}</td> -->
                        <td><img
                                [src]="artisan.photoUrl ? artisan.photoUrl : 'https://avatars.dicebear.com/api/bottts/aaaaaaaaaaaaaaaaa.svg'">
                        </td>
                        <td>
                            <button class="btn btn-sm btn-warning" (click)="modifyArtisan(artisan._id)">
                                <span class="far fa-edit"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" (click)="deleteArtisan(artisan._id)">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Events">
        <ng-template matTabContent>
            <!-- Event Tab -->
            <div class="container">
                <!-- *ngIf="isArtisan" -->
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>event Date</th>
                        <th>Description</th>
                        <th>Place</th>
                        <th>Start time </th>
                        <th>End time</th>
                        <th class="text-center" width="1%">Actions</th>
                    </tr>
                    <tr *ngFor="let event of activeEvents | filter : keyword">
                        <td>{{event.title}}</td>
                        <td>{{event.eventDate}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.place}}</td>
                        <td>{{event.start_time}}</td>
                        <td>{{event.end_time}}</td>
                        <td>
                            <button class="btn btn-sm btn-warning" (click)="modifyEvent(event._id)">
                                <span class="far fa-edit"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" (click)="deleteEvent(event._id)">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>