<!--====== SERVICES PART START ======-->

<section id="service" class="services-area pt-125 pb-130 gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h5 class="sub-title mb-15">Nos activités</h5>
          <h2 class="title">CE QUE NOUS FAISONS</h2>
        </div>
        
      </div>
    </div>
   
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeInUp"
          data-wow-duration="1.5s"
          data-wow-delay="0.4s"
        >
          <div class="services-icon">
            <i class="lni-direction-alt"></i>
          </div>
          <div class="services-content mt-15">
            <h4 class="services-title">Accueil et Orientation</h4>
            <p class="mt-20 centerit">
                Offrir un service d’accueil et d’orientation socio-professionnelle au profit de la population locale<br />
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeInUp"
          data-wow-duration="1.5s"
          data-wow-delay="0.8s"
        >
          <div class="services-icon">
            <i class="lni-briefcase"></i>
          </div>
          <div class="services-content mt-15">
            <h4 class="services-title">Employabilité</h4>
            <p class="mt-20 centerit">
                Renforcer les aspects de l’employabilité des jeunes chercheurs d’emplois
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeInUp"
          data-wow-duration="1.5s"
          data-wow-delay="1.2s"
        >
          <div class="services-icon">
            <i class="lni-customer"></i>
          </div>
          <div class="services-content mt-15">
            <h4 class="services-title">Accompagnement</h4>
            <p class="mt-20 centerit">
                Accompagner les porteurs de projets dans les démarches de la maturité entrepreneuriale
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeInUp"
          data-wow-duration="1.5s"
          data-wow-delay="0.4s"
        >
          <div class="services-icon">
            <i class="lni-invention"></i>
          </div>
          <div class="services-content mt-15">
            <h4 class="services-title">Innovation sociale</h4>
            <p class="mt-20 centerit">
                Renforcer la cohésion entre les collaborateurs du SMT et la commune à travers l’innovation sociale
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeInUp"
          data-wow-duration="1.5s"
          data-wow-delay="0.8s"
        >
          <div class="services-icon">
            <i class="lni-handshake"></i>
          </div>
          <div class="services-content mt-15">
            <h4 class="services-title">Inclusion sociale</h4>
            <p class="mt-20 centerit">
                Renforcer les aspects d’inclusion sociale auprès des populations vulnérables.
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div
          class="single-services text-center mt-30 wow fadeInUp"
          data-wow-duration="1.5s"
          data-wow-delay="1.2s"
        >
          <div class="services-icon">
            <i class="lni-grow"></i>
          </div>
          <div class="services-content mt-15">
            <h4 class="services-title">Co-working Space Design</h4>
            <p class="mt-20">
              Mauris aliquam, turpis sed mattis placerat, justo risus
              pellentesque quam, id finibus risus arcu eget neque.
            </p>
          </div>
        </div>
        <!-- single services -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
