<header id="home" class="header-area pt-50">
     <div class="shape header-shape-one">
        <img src="assets/images/banner/shape/shape-1.png" alt="shape">
    </div> 
    
    <div class="shape header-shape-tow animation-one">
        <img src="assets/images/banner/shape/shape-2.png" alt="shape">
    </div>

    <!-- <div class="shape header-shape-three animation-one">
        <img src="assets/images/banner/shape/shape-3.png" alt="shape">
    </div>  -->

    <!-- <div class="shape header-shape-fore">
        <img src="assets/images/banner/shape/shape-4.png" alt="shape">
    </div> -->



    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand">
                        <img src="assets/images/logo_smart.png" alt="Logo">
                    </a>
                </nav>
            </div>
        </div>
    </div> -->

</header>
<div class="container">
    <div id="login" class="signin-card">
        <div class="logo-image">
            <img src="assets/images/logo_smart.png" alt="Logo" title="Logo" width="160">
        </div>
        <h1 class="display1">Administrateur</h1>
        <!-- <p class="subhead">Se connecter</p> -->
        <form action="" method="" class="" role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoggedIn">
            <div id=" form-login-username " class="form-group ">
                <label for="username " class="float-label ">login</label>
                <input id="username " class="form-control " formControlName="username" name="username " type="text " size="18 " alt="login " [ngClass]="{ 'is-invalid': submitted && f.username.errors } " required />
                <span class="form-highlight "></span>
                <span class="form-bar "></span>
                <div *ngIf="submitted && f.username.errors " class="invalid-feedback ">
                    <div *ngIf="f.username.errors.required ">Username is required</div>
                </div>
            </div>
            <div id="form-login-password " class="form-group ">
                <label for="password " class="float-label ">password</label>
                <input id="passwd " class="form-control " formControlName="password" name="password " type="password " size="18 " alt="password " [ngClass]="{ 'is-invalid': submitted && f.username.errors } " required>
                <span class="form-highlight "></span>
                <span class="form-bar "></span>
                <div *ngIf="submitted && f.password.errors " class="invalid-feedback ">
                    <div *ngIf="f.password.errors.required ">Password is required</div>
                </div>
            </div>
            <div id="form-login-remember " class="form-group ">
                <div class="checkbox checkbox-default">
                    <input id="remember" type="checkbox" alt="Remember me " class=" ">
                    <label for="remember">Remember me</label>
                </div>
            </div>
            <div>
                <button class="btn btn-block btn-info ripple-effect " type="submit " name="Submit " alt="sign in ">Sign in</button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
            Connecté
          </div>
    </div>
</div>