/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: Roboto, "Raleway", sans-serif; }

@import './assets/scss/central.scss';
// @import './assets/menu/css/style4.css';
// @import './assets/menu/css/icons.css';