<section id="about" class="about-area pt-80 pb-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-image mt-50 clearfix">
          <div class="single-image float-left">
            <img src="assets/images/about/about-1.png" alt="About" />
          </div>
          <div data-aos="fade-right" class="about-btn">
            <a class="main-btn" href="#"><span>14</span> Years Experience</a>
          </div>
          <div class="single-image image-tow float-right">
            <img src="assets/images/about/about-2.png" alt="About" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content mt-45">
          <h6 class="about-welcome">Qui sommes nous ?</h6>
          <h4 class="about-title mt-10">Smart initiatives</h4>
          <p class="mt-25 alignit">
            Créée en 1997, la Fondation Zakoura œuvre en faveur du développement
            humain par le biais de l’éducation des enfants, la formation des
            jeunes et l’autonomisation des femmes.<span id="dots">...</span>
            <span id="more"> La Fondation Zakoura dispose
              d’une expérience confirmée dans le déploiement de programmes
              socio-éducatifs à destination des populations défavorisées. Dans le
              cadre de ses activités en faveur de l’employabilité et l'insertion
              des jeunes, la Fondation lance en partenariat avec la Fondation
              SMarT, un projet de mise en place d’un incubateur social en faveur
              du développement de la commune d’Ain Harrouda.
            </span>
            <a class="about-btn" (click)="readMoreLess()" id="myBtn">Lire la suite</a>
            <br /><br />
          </p>
          <h4 class="about-welcome">NOTRE VISION</h4>
          <p class="mt-25 alignit">
            Etre un point d’intersection des initiatives de développement
            durable de la commune Ain Harrouda.
            <br /><br />
          </p>
        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
       <div class="about-content mt-45">
        <h4 class="about-welcome">NOS CHALLENGES</h4>
        <p class="mt-25 alignit">
          &#x2D; Etre à l’écoute active des contraintes d’inclusion de la
          population locale <br />
          &#x2D; Atténuer l’esprit d’assistanat auprès des composantes de la
          commune<br />
          &#x2D; Accompagner et outiller les parties prenantes pour
          l’opérationnalisation des initiatives <br />
          &#x2D; Stimuler l’intelligence collective des forces vives pour
          l’inclusion du territoire <br />
          &#x2D; Assurer la pérennité du centre pat l’adoption d’un mode
          d’intervention durable
        </p>
       </div>
      </div>
      <div class="col-lg-6">
        <div class=" mt-50 ">
          <div class="single-image float-left">
            <img src="assets/images/about/about-3.png" alt="About" />
          </div>
          <!-- <div data-aos="fade-right" class="about-btn">
            <a class="main-btn" href="#"><span>14</span> Years Experience</a>
          </div> -->
          <!-- <div class="single-image image-tow float-right">
            <img src="assets/images/about/about-2.png" alt="About" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>