<nav class="navbar navbar-light bg-light action-bar">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-outline-success my-2 my-sm-0 add-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="bi bi-file-plus"></i> Ajouter</button>
    </form>
</nav>
<div class="card">
    <div class="card-header">
        <h6 class="text-uppercase mb-0">La liste des projets</h6>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover card-text">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Identifiant</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities">
                    <th scope="row">1</th>
                    <td>{{activity.id}}</td>
                    <td>{{activity.title}}</td>
                    <td>{{activity.description}}</td>
                    <td><a href="#" (click)="modify(activity.id)"><i class="bi bi-pencil-square action-icon"></i></a><a href="#"><i (click)="delete(activity.id)" class="bi bi-x-octagon action-icon"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Titre:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" (click)="add()">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>