
  <section id="team" class="team-area pt-125 pb-130 gray-bg">
    <div class="container">
        <input type="text" 
          [(ngModel)]="searchText"
          placeholder="chercher un artisan par nom,métier,mail..."
          class="form-control">
      </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6" *ngFor="let artisan of artisans | filter:searchText" style="padding: 1em;" >
                <section class="bussinesscard">
                    <div class="flip">
                      <div class="front">       
                        <div class="top">       
                          <div class="logo"><span class="fat">E</span><span class="skinny">K</span></div>       
                        </div>
                        <div class="nametroduction">
                          <div class="name">{{artisan.firstname}} {{artisan.lastname}}</div>
                          <div class="introduction">{{artisan.title}}</div>
                        </div>  
                        <div class="contact">                                  
                          <div class="phone ">
                            <span class="ion-ios7-telephone"></span> 
                            <a href="#">0118 999 7253</a> 
                          </div>
                          <div class="email ">
                            <span class="ion-email"></span>
                            <a href="#">eduard@kosicky.me</a>
                          </div>

                          <div class="facebook ">
                            <span class="ion-social-facebook"></span> 
                            <a href="#">{{artisan.facebook}}</a> 
                          </div>

                          <div class="twitter ">
                            <span class="ion-social-twitter"></span> 
                            <a href="#">{{artisan.twitter}}</a> 
                          </div>

                        </div>            
                      </div>
                      <div class="back"></div> <!--FIXES FONT RENDERING -->
                    </div>
                  </section>

            </div>
        </div>
    </div>
</section>

<!-- 
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{artisan.title}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->