

<div class="eventContainer">
  <button class="btn btn-secondary mr-3" onclick="history.back(-1)"> &laquo; Administration</button>

  <div class="container" *ngIf="eventFormGroup">
    <form [formGroup]="eventFormGroup"(ngSubmit)="saveEvent()" >
      <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>Titre</label>
                <input type="text" class="form-control" formControlName="title" placeholder="ex : journée de la femme"
                    [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }">
                <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">le champ titre est requis</div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description" placeholder=""
                    [ngClass]="{ 'is-invalid': f.description.touched && f.description.errors }">
                <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">le champ description est requis</div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
      <div class="row">
          <div class="col-md-6">
              <label>Lieu</label>
              <input type="text" class="form-control" formControlName="place"
                  [ngClass]="{ 'is-invalid': f.place.touched && f.place.errors }">
              <div *ngIf="f.place.touched && f.place.errors" class="invalid-feedback">
                  <div *ngIf="f.place.errors.required">le champ Lieu est requis</div>
              </div>
          </div>
          <div class="col-md-6">
              <label>Date de l'évenement</label>
              <input type="text" class="form-control" formControlName="eventDate" placeholder="ex: 12/12/2021"
                  [ngClass]="{ 'is-invalid': f.eventDate.touched && f.eventDate.errors }">
              <div *ngIf="f.eventDate.touched && f.eventDate.errors" class="invalid-feedback">
                  <div *ngIf="f.eventDate.errors.required">la date de l'évenement est requise</div>
              </div>
          </div>
      </div>
  </div>

  <div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>heure de début</label>
            <input type="text" class="form-control" formControlName="start_time" placeholder="ex : 10H00"
                [ngClass]="{ 'is-invalid': f.start_time.touched && f.start_time.errors }">
            <div *ngIf="f.start_time.touched && f.start_time.errors" class="invalid-feedback">
                <div *ngIf="f.start_time.errors.required">l'heure de début est requise ! </div>
            </div>
            <div *ngIf="f.start_time.touched && f.start_time.errors" class="invalid-feedback">
              <div *ngIf="f.start_time.errors.pattern">merci de rescpcter cette forme : HH:MM </div>
          </div>
        </div>
        <div class="col-md-6">
            <label>heure de Fin</label>
            <input type="text" class="form-control" formControlName="end_time" placeholder="ex : 12H00"
                [ngClass]="{ 'is-invalid': f.end_time.touched && f.end_time.errors }">
            <div *ngIf="f.end_time.touched && f.end_time.errors" class="invalid-feedback">
                <div *ngIf="f.end_time.errors.required">l'heure de fin est requise</div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="float: right; margin: 1%;">
  <button class="btn btn-warning mr-3" [disabled]="!eventFormGroup.valid">Enregistrer</button>
  <button class="btn btn-dark" (click)='ResetForm()'>Réinitialiser</button>
</div>

    </form>
  </div>


</div>